/* VARIABLES */
:root {
  /* COLORS */
  --primary-color: #d20f0f;
  --light-grey: #e0e0e0;
  --normal-grey: #878787;
  --dark-grey: #383838;
  --text-color: #000000;
  --bg-color: #ffffff;
  /* AINMATION TIME */
  --time-slow: 0.5s;
  --time-fast: 0.25s;
  /* OTHER */
  --primary-border: 3px solid var(--primary-color);
  --font: "Oxygen", sans-serif;
  --font-size: 16px;
  --nav-opacity: 0.9;
  /* BREAKPOINTS - tablet, mobile */
  --bp-tablet: 768px;
  --bp-mobile: 576px;
}

/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* GENERAL STYLES, utilities */
.main-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.align-right {
  text-align: right;
  padding-top: 1rem;
}

.align-center {
  text-align: center;
  padding-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

a {
  color: inherit;
}

h1 {
  border-left: var(--primary-border);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 3px;
  padding-left: 0.7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding-bottom: -15rem;
}

h2 {
  border-left: var(--primary-border);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 3px;
  padding-left: 0.7rem;
  margin-bottom: 0.85rem;
  font-size: 1.3rem;
}

section {
  margin-bottom: 5rem;
}

p {
  max-width: 550px;
  margin-bottom: 1rem;
}

/* BUTTON */
.btn {
  font-family: var(--font);
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(var(--primary-color) 0 0) right/var(--p, 0) no-repeat;
  transition: all var(--time-slow), background-position 0s;
  margin-right: 0;
  text-decoration: none;
}
.btn:hover {
  --p: 100%;
  background-position: left;
  color: white;
}
.btn__icon {
  fill: var(--primary-color);
  width: 1rem;
  height: 1rem;
  transition: all var(--time-slow);
  transform: translateY(2px);
}
.btn__icon--rotate {
  transform: translateY(2px) rotate(180deg);
}
.btn:hover .btn__icon {
  fill: white;
}

/* NAVBAR */
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 72px;
}
.nav__container {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, var(--nav-opacity));
  z-index: 100;
}
.nav__logo {
  font-weight: 700;
  cursor: pointer;
  transition: transform var(--time-fast);
}
.nav__burger-menu {
  padding: 1rem;
  cursor: pointer;
  transform: translateX(1rem);
}
@media (min-width: 550px) {
  .nav__burger-menu {
    display: none;
  }
}
.nav__burger-line {
  background-color: black;
  width: 2rem;
  height: 3px;
  transition: all var(--time-slow);
}
.nav__burger-line:nth-child(2) {
  margin: 5px 0;
}
.nav--active .nav__burger-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.nav--active .nav__burger-line:nth-child(2) {
  opacity: 0%;
}
.nav--active .nav__burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.nav__links-list {
  list-style: none;
  display: none;
  gap: 2rem;
}
@media (min-width: 550px) {
  .nav__links-list {
    display: flex;
  }
}
.nav__link {
  font-weight: 700;
  cursor: pointer;
  transition: transform var(--time-fast);
  text-decoration: none;
}
.nav__link:hover, .nav__logo:hover {
  color: var(--primary-color);
  transform: translateY(3px);
}
.nav--active .nav__mobile-links {
  -webkit-clip-path: circle(132.9% at 86% 0);
          clip-path: circle(132.9% at 86% 0);
}
.nav__mobile-links {
  -webkit-clip-path: circle(0% at 86% 0);
          clip-path: circle(0% at 86% 0);
  transition: -webkit-clip-path var(--time-slow);
  transition: clip-path var(--time-slow);
  transition: clip-path var(--time-slow), -webkit-clip-path var(--time-slow);
  position: absolute;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  top: 100%;
  right: 0;
  background-color: var(--bg-color);
  width: 200px;
  opacity: var(--nav-opacity);
}
.nav__mobile-links::before {
  opacity: 0.2;
  position: absolute;
  bottom: 100%;
  background-color: var(--bg-color);
  width: 200px;
  height: 10px;
  content: "";
}
.nav__mobile-link {
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all var(--time-fast);
  border-bottom: 1px solid var(--normal-grey);
}
.nav__mobile-link:hover {
  transform: translateX(3px);
  color: var(--primary-color);
}

/* CAROUSEL */
.carousel {
  height: 60vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}
@media (min-width: 550px) {
  .carousel {
    height: 70vh;
  }
}
.carousel__slide {
  padding-top: 72px;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all var(--time-slow);
}
.carousel__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 550px) {
  .card {
    flex-direction: row;
    max-width: 480px;
  }
}
@media (min-width: 900px) {
  .card {
    flex-direction: column;
    max-width: 320px;
    flex: 1 1;
  }
}
.card__text-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 550px) {
  .card__text-container {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .card__text-container {
    width: auto;
    flex-grow: 1;
  }
}
.card__img-container {
  overflow: hidden;
  display: flex;
  height: 200px;
}
@media (min-width: 550px) {
  .card__img-container {
    height: auto;
    width: 40%;
  }
}
@media (min-width: 900px) {
  .card__img-container {
    height: 200px;
    width: auto;
  }
}
.card__img {
  width: 100%;
  transition: transform var(--time-slow);
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img:hover {
  transform: scale(1.15);
}
.card__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
}
@media (min-width: 900px) {
  .card__group {
    flex-direction: row;
  }
}

.reference {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 1rem 2rem;
  margin-bottom: 1rem;
}
.reference__item {
  max-height: 200px;
  display: flex;
  justify-content: center;
  overflow: visible;
  filter: grayscale(1);
}
.reference__item:hover {
  filter: grayscale(0);
}
.reference__logo {
  width: auto;
  max-width: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
}
.reference__card-group {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.reference__card {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.35);
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
}
.reference__card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.reference__card-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.reference__card-title {
  font-weight: 700;
}
.reference__card-text {
  font-style: italic;
  margin-top: 1rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
}
.contact__text {
  display: flex;
  flex-direction: column;
}
.contact__table {
  display: flex;
  gap: 2rem;
}
.contact__table-labels {
  font-weight: 700;
  line-height: 2rem;
  margin-top: -6px;
}
.contact__table-info {
  line-height: 2rem;
  margin-top: -6px;
}
.contact__img {
  display: none;
}
@media (min-width: 900px) {
  .contact__img {
    display: block;
  }
}
.contact__img img {
  width: 100%;
}

.form {
  max-width: 600px;
  margin: 2rem auto;
}
.form__label {
  font-weight: 700;
}
.form__input, .form__input--msg {
  font-family: arial, sans-serif;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 5px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
  padding: 5px;
  font-family: var(--font);
}
.form__input--msg {
  height: 135px;
}

/* GALLERY - FIRST VERSION - with modal */
/* GALLERY - SECOND VERSION - two columns next to each other */
.gallery__item {
  overflow: hidden;
  display: block;
}
.gallery__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  min-height: 100px;
  vertical-align: middle;
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 550px) {
  .gallery__wrapper {
    flex-direction: row;
  }
}
.gallery__column {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.footer {
  background-color: var(--dark-grey);
  text-align: center;
  color: white;
  padding: 2rem 0 0.5rem 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.footer__text {
  margin: 0.5rem auto;
}

.modal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 201;
  height: 100%;
  width: 100%;
  top: 100%;
  transition: all 0.5s;
  opacity: 0;
}
.modal--active {
  top: 0%;
  opacity: 1;
}
.modal__content {
  z-index: 203;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  position: relative;
  transform: translateX(0);
  transition: all 0.3s ease-in;
}
.modal--move-left {
  transform: translateX(-500px);
  opacity: 0;
}
.modal--move-right {
  transform: translateX(500px);
  opacity: 0;
}
.modal--hidden {
  display: none;
}
.modal__img {
  max-width: 100%;
  max-height: calc(100vh - 2rem);
}
.modal__overlay {
  background-color: var(--dark-grey);
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
}
.modal--active .modal__overlay {
  top: 0;
}
.modal__chevron {
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  top: calc(50% - 1rem);
  border: 1px solid var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}
.modal__chevron:hover {
  transform: scale(0.9);
}
.modal__chevron--left {
  left: 0.5rem;
}
.modal__chevron--right {
  right: 0.5rem;
}
.modal__icon {
  height: 1rem;
}

.js-portfolio,
.js-contact,
.js-reference {
  scroll-margin-top: 90px;
}

.info-section {
  padding-top: 150px;
  padding-bottom: 100px;
}

.inline-link {
  color: var(--primary-color);
}